@media screen and (min-width: 769px){
    /* Landpage content */

    .bg-main{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .container-landpage{
        display: flex;
        justify-content: space-between;

        padding-right: 6em;
    }

    .landpage-content{
        margin-top: 5em;
        margin-left: 1em;
    }

    .landpage-content h1{
        font-weight: lighter;
        color: var(--branco);
    }

    .landpage-content span{
        color: var(--azulClaro);
    }

    .landpage-content a{
        margin-top: 1em;
        font-size: 1.5em;
        display: inline-block;
    }

    .image-container{
        width: 220%;
    }

    .image-container img{
        width: 100%;
        height: auto;
    }

    /* Second Content */

    .container-second-content{
        width: 100%;

        margin-top: -18%;
        padding-left: 6em;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-second-content div h1{
        color: var(--azulClaro);
        margin-bottom: 1em;
    }

    .container-second-content div h2{
        color: var(--azulEscuro);
        font-weight: normal;
    }

    .container-second-content span{
        color: var(--azulClaro);
    }

    .container-second-content a{
        margin-top: 1em;
        font-size: 1.5em;
        display: inline-block;
    }

    /* Planos */
        /* Card Planos */

    .container-planos{
        width: 100%;

        background: url("../img/fundos/fundoPlanos.png");
        background-repeat: no-repeat;
        background-size: 100% 140%;

        padding: 0 6em 0 6em;
    }

    .container-planos > h1{
        color: var(--azulClaro);
    }

    .planos-content, .clientes-content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 2em;
    }

    .planos-content{    
        margin-bottom: 4em;

        position: relative;
    }

    .card{
        width: 30%;
        height: max-content;

        padding: 2em 0 2em 0;

        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 40px;
    }

    .card a{
        display: inline-block;
    }

    .card h1{
        font-size: 3em;
    }

    .card-plano{
        background: white;
        box-shadow: 0.5em 0.5em 0 rgba(211, 211, 211, 0.35);
        color: var(--azulEscuro);
    }

    .card-btn{
        margin-top: 1em;
    }

        /* Card Clientes */

    .card-cliente{
        height: 19em;

        padding-left: 1.5em;
        padding-right: 1.5em;

        margin-bottom: 7em;

        box-shadow: 0.5em 0.5em 0 rgba(211, 211, 211, 0.35);

        color: var(--branco);
    }

    .card-cliente h1{
        font-size: 2em;

        margin-bottom: 1em;
        margin-top: 1em;
    }

    .card-cliente a{
        display: inline-block;
    }

    .card-cliente p:first-of-type{
        margin-bottom: 1em;

        line-height: 1.6em;
    }

    .telefone{
        font-weight: bold;
        font-size: 1.4em;
        color: var(--azulEscuro);

        margin-bottom: 0px;
    }

    /* Acessar serviços */

    .container-access-service{
        width: 100%;
        padding: 3em 0 3em 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-access-service h1{
        color: var(--branco);

        margin-bottom: 1em;
    }

    /* Slider Parceiros */

    #sliderParceiros{
        width: 100%;
        display: flex;
        align-items: center;

        margin-bottom: 50px;
        margin-top: 50px;
    }

    #sliderParceiros div{
        display: flex;
        justify-content: space-around;
        align-items: center;

        outline: none;
    }

    .slick-arrow{
        width: 40px;
        height: 40px;

        border: none;
        color: rgba(0, 0, 0, 0);
        outline: none;

        cursor: pointer;
    }

    .slick-prev{
        background: url("../img/icon/prevArrow.svg");
        background-size: 100% 100%;
    }

    .slick-next{
        background: url("../img/icon/nextArrow.svg");
        background-size: 100% 100%;
    }

    /* Formulário */

    .container-form{
        width: 100%;

        padding: 0 6em 0 6em;

        background: url("../img/fundos/fundoContatos.png");

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .contact-form-text{
        margin-left: 7em;
    }

    .container-form h1{
        color: var(--amarelo);
    }

    .container-form p{
        color: var(--branco);
    }

    /* Slider Comentários */

    #sliderComentario{
        width: 100%;
    }

    .container-comentario{
        display: flex;
        justify-content: space-around;
        align-items: center;

        outline: none;
    }

    #sliderComentario{
        width: 100%;
        display: flex;
        align-items: center;

        margin-bottom: 50px;
        margin-top: 50px;
    }

    #sliderComentario div{
        display: flex;
        justify-content: space-around;

        outline: none;
    }

    .comentario{
        display: flex;
        align-items: center;
    }

    .comentario div{
        display: flex;
        flex-direction: column;
    }

    .comentario-nome{
        font-size: 1.5em;
    }

    .comentario-texto{
        color: var(--azulClaro);
        font-style: italic;
        font-size: 1.2em;
    }

    .comentario-texto::before{
        content: '“';
    }

    .comentario-texto::after{
        content: '”';
    }

    /* Forms planos */

    .form-container-1, .form-container-2, .form-container-3{
        display: none;
    }

    .open-form{
        padding: 20px;
        background: white;
        border-radius: 16px;

        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);

        display: block;
    }

    .js-form-blur{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .open-blur{
        width: 100%;
        height: 100vh;

        background: rgba(0, 0, 0, 0.4);
    }
}

