@import url("https://use.typekit.net/nms4qua.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: chypre-normal, sans-serif;

    --azulClaro: #00AABB;
    --azulEscuro: #02224F;
    --branco: #ffffff;
    --amarelo: #F6A619;
    --vermelho: #EA402F;
}

.hide-header-btn{
    display: none;
}

@media screen and (min-width: 769px){
    /* Header */

    header{
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px 6em 10px 6em;
    }

    .mobile-menu-container{
        display: none;
    }

    .header-nav a{
        color: var(--branco);

        margin-right: 3em;
    }

    a{
        text-decoration: none;
        font-weight: bolder;
    }

    .normal-button{
        padding: 10px 15px 10px 15px;
        border-radius: 50px;

        color: white;
    }

    .lightblue-bg{
        background: var(--azulClaro);
    }

    .yellow-bg{
        background: var(--amarelo);
    }

    .darkblue-bg{
        background: var(--azulEscuro);
    }

    .red-bg{
        background: var(--vermelho);
    }

    .header-search-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-input{
        height: 2.5em;
        padding-left: 15px;

        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

        outline: none;
        border: 3px solid var(--azulClaro);
    }

    .search-btn{
        height: 2.5em;

        background: var(--azulClaro);
        border: none;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 10px 0 3px;
    }

    /* Footer */

    footer{
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 3em 6em 3em 6em;

        color: var(--branco);
    }

    .container-links-footer, .container-social-footer, .container-local-footer ul{
        height: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container-links-footer a{
        color: var(--branco);
    }

    .container-local-footer ul{
        list-style: none;

        position: relative;
    }

    .container-local-footer ul li::before{
        content: url("../img/icon/placeIcon.png");

        position: absolute;
        left: -2em;
    }

    .container-social-footer a{
        display: flex;
        align-items: center;

        color: var(--branco);
        font-weight: normal;
    }

    .container-social-footer a img{
        margin-right: 0.3em;
    }

    /* Fixed Social Bar */

    .fixed-social-bar{
        width: 100%;

        padding: 0.4em 0 0.4em 0;

        display: flex;
        justify-content: space-around;
        align-items: center;

        position: fixed;
        bottom: 0;
        z-index: 10;
    }

    .fixed-social-bar a{
        display: flex;
        align-items: center;

        color: var(--branco);
    }

    .fixed-social-bar a img{
        margin-right: 1em; 
    }

    .footer-form{
        width: 40em;

        background: var(--branco);
        border-radius: 7px;

        padding: 2em;

        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        -webkit-font-smoothing: antialiased;

        display: none;
    }

    .footer-form h1{
        color: var(--azulEscuro);
    }

    .footer-form h4{
        color: var(--azulEscuro);
    }    

    #footerFormBlur{
        width: 100%;
        height: 100vh;

        background: rgba(0, 0, 0, 0.4);

        position: fixed;
        top: 0;
        left: 0;
    }

    .footer-form-blur-closed{
        display: none;
    }
    
    .footer-form-open{
        display: block;
    }

    .close-form-btn{
        width: 50px;
        height: 50px;

        position: absolute;
        top: 30px;
        right: 30px;

        cursor: pointer;
    }

    .close-form-btn div{
        width: 40px;
        height: 5px;

        background: var(--azulEscuro);

        position: absolute;
        top: 10px;
        left: 5px;

        pointer-events: none;
    }

    .close-form-btn div:first-child{
        transform: rotate(45deg);
    }

    .close-form-btn div:last-child{
        transform: rotate(-45deg);
    }
}

